html {
  background-image: url('/images/slacker.jpg');
  background-repeat:no-repeat;
  background-size: cover;

}

img {
  opacity: 0.4;
}
.container {
  float:left;
  margin: 20px 40px auto;
  width: 600px;
  padding: 0px 20px 20px 40px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

h1, h2, label, input, p {
  color:orange;
}

/*label {
  text-align: start;
}*/

.navbar {
  float:right;
}
