<div class="container">
  <h1>Hacker News</h1>
    <h2><a href="/create_post">Create a post!</a></h2>

  <!-- Header
      list of all posts with user name and comment number
      link to login & signup page
      link to create posts page ("submit") -->
  <ol>
      <% @posts.each do |post| %>
      <li><a href="<%= post.post_url %>"><%= post.post_title  %></a></li>
      <% end %>


  </ol>
</div>
