<div class="container">

  <p><span id="profile_form_label">user: </span> <%= @user.username %></p>
  <p><span id="profile_form_label">created: </span> <%= @user.created_at %></p>
  <p><span id="profile_form_label">karma: </span> 1 </p>
  <p><span id="profile_form_label">avg:
  <p><span id="profile_form_label">about: <textarea cols="50" rows="10"></textarea></span></p>
<!--   <p><span id="profile_form_label">email: <input type="text" value=></span></p>
 --> <p><span id="profile_form_label">
  <p><span id="profile_form_label">
</div>
